.wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding: 24px 20px;
  box-sizing: border-box;
  min-height: calc(100vh - 120px);
}

@media (min-width: 769px) {
  .wrapper {
    padding: 40px 0;
  }
}
